In [1]:
""" mount drive """

import os

GOOGLE_DIR = '/content/drive/My Drive/DL_Project'
LOCAL_DIR = '/home/ziyan/Desktop/Deep Learning Project'

def colab_mount_google_drive():
    drive.mount('/content/drive', force_remount=True)
    os.chdir(GOOGLE_DIR)
    os.listdir()

def mount_local_drive():
    os.chdir(LOCAL_DIR)
    os.listdir()

try:
    from google.colab import drive
    colab_mount_google_drive()
    print('Mounted google drive')
except ModuleNotFoundError:
    mount_local_drive
    print('Mounted local drive')

Mounted local drive

In [2]:
import pandas as pd
import re

def create_index(dir_name):
    os.chdir(os.path.join(LOCAL_DIR, dir_name))
    
    files = []  # list of dicts
    for fn in sorted(os.listdir()):
        df = pd.read_csv(fn)
        
        # rows number is first subtracted by 
        # then by 2 to remove the first and last tick in a day 
        # as they tend to be outliers (high or 0 volume, high turnover, etc.)
        if re.search('2018\d{4}', fn):
            files.append({'file_name': fn, 'rows': df.shape[0]-2})
            #print(fn)
        
    table = pd.DataFrame(files)
    table['date'] = table['file_name'].str.split('_').str[-1].str.split('.').str[0]
    table.to_csv(f'{dir_name}_indexes.csv', index=False)
    print(f'Wrote index table to {dir_name}/{dir_name}_indexes.csv')

In [3]:
create_index('input_df')

Wrote index table to input_df/input_df_indexes.csv

In [4]:
import pandas as pd
table = pd.read_csv('input_df/input_df_indexes.csv')
table[5:15]

                file_name   rows      date
5   input_20180109.csv.gz  19193  20180109
6   input_20180110.csv.gz  19193  20180110
7   input_20180111.csv.gz  19189  20180111
8   input_20180112.csv.gz  19195  20180112
9   input_20180115.csv.gz  19192  20180115
10  input_20180116.csv.gz  19194  20180116
11  input_20180117.csv.gz  19196  20180117
12  input_20180118.csv.gz  19199  20180118
13  input_20180119.csv.gz  19200  20180119
14  input_20180122.csv.gz  19197  20180122

In [10]:
df=pd.read_csv('input_df/input_20180515.csv.gz')

In [12]:
df[13265:13275]

,datetime,last,opi,turnover,volume,bid1,ask1,bidv1,askv1,mid,...,wmid_1tick,wmid_01s,wmid_05s,wmid_10s,wmid_30s,wmid_01m,wmid_05m,wmid_10m,wmid_15m,wmid_30m
13265,2018-05-15 13:40:34.500,2726.2,9484.0,0.0,0.0,2725.8,2726.4,1.0,1.0,2726.1,...,0.000000,0.000000,0.400000,0.500000,0.400000,-0.350000,2.600000,1.800000,-4.547474e-13,-0.300000
13266,2018-05-15 13:40:35.000,2726.2,9484.0,0.0,0.0,2725.8,2726.4,1.0,1.0,2726.1,...,0.000000,0.233333,0.200000,0.500000,0.740000,-0.350000,2.700000,1.800000,-4.547474e-13,-0.300000
13267,2018-05-15 13:40:35.500,2726.2,9484.0,0.0,0.0,2725.8,2726.4,1.0,1.0,2726.1,...,0.233333,0.233333,0.200000,0.500000,0.580000,-0.350000,2.700000,1.800000,-4.547474e-13,-0.300000
13268,2018-05-15 13:40:36.000,2726.2,9484.0,0.0,0.0,2726.0,2726.4,5.0,1.0,2726.2,...,0.000000,0.000000,-0.033333,0.266667,0.346667,-0.583333,2.566667,1.566667,-6.666667e-02,-0.533333
13269,2018-05-15 13:40:36.500,2726.2,9484.0,0.0,0.0,2726.0,2726.4,5.0,1.0,2726.2,...,0.000000,0.000000,0.066667,0.266667,0.346667,-0.583333,2.566667,1.566667,-2.000000e-01,-0.533333
13270,2018-05-15 13:40:37.000,2726.2,9484.0,0.0,0.0,2726.0,2726.4,5.0,1.0,2726.2,...,0.000000,0.000000,0.266667,0.133333,0.186667,-0.583333,2.566667,1.566667,-2.000000e-01,-0.533333
13271,2018-05-15 13:40:37.500,2726.2,9484.0,0.0,0.0,2726.0,2726.4,5.0,1.0,2726.2,...,0.000000,0.000000,0.366667,0.133333,0.186667,-0.583333,2.466667,1.566667,-2.000000e-01,-0.533333
13272,2018-05-15 13:40:38.000,2726.2,9484.0,0.0,0.0,2726.0,2726.4,5.0,1.0,2726.2,...,0.000000,0.000000,0.266667,0.133333,0.506667,-0.583333,2.466667,1.566667,-1.333333e-01,-0.533333
13273,2018-05-15 13:40:38.500,2726.2,9484.0,0.0,0.0,2726.0,2726.4,5.0,1.0,2726.2,...,0.000000,0.166667,0.266667,0.133333,-0.773333,-0.666667,2.166667,1.766667,-1.333333e-01,-0.533333
13274,2018-05-15 13:40:39.000,2726.2,9484.0,0.0,0.0,2726.0,2726.4,5.0,1.0,2726.2,...,0.166667,-0.033333,0.266667,0.133333,0.166667,-0.666667,2.166667,1.766667,-1.333333e-01,-0.533333